<!-- Search companies -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-12 col-md-4 search-field">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            [(ngModel)]="searchValue"
            (keydown.enter)="onSearch()"
            placeholder="Search Company"
          />
          <mat-icon matSuffix>
            <ng-icon name="tablerSearch" class="icon-26 d-flex justify-content-center align-items-center"></ng-icon>
          </mat-icon>
        </mat-form-field>
      </div>
      <div
        class="col-sm-12 col-md-8 d-flex align-items-center justify-content-end"
      >

      <div class="expedited-toggle m-r-8">
  <button
    type="button"
    class="toggle-btn"
    [class.active]="expeditedFilter === 'noExpedited'"
    (click)="setExpeditedFilter('noExpedited')"
  >
    No Expedited Service&nbsp;<span >( {{ noExpeditedCount}} )</span> 
  </button>

  <button
    type="button"
    class="toggle-btn"
    [class.active]="expeditedFilter === 'expedited'"
    (click)="setExpeditedFilter('expedited')"
  >
    Expedited Service&nbsp;<span >( {{ expeditedCount}} )</span> 
  </button>
</div>


        <!-- toggle-wrapper -->
        <div
          class="state-search-container d-flex align-items-center"
          [class.show-state-search]="showStateSearch"
        >
          <!-- state autocomplete -->
          <mat-form-field
            appearance="outline"
            class="hide-hint"
            floatLabel="auto"
          >
            <mat-label>State / Jurisdiction</mat-label>
            <input
              matInput
              [formControl]="stateControl"
              [matAutocomplete]="auto"
              placeholder="Search..."
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="onStateSelected($event.option.value)"
            >
              <mat-option
                *ngFor="let state of filteredStates | async"
                [value]="state"
              >
                {{ state }}
              </mat-option>
            </mat-autocomplete>
            <button
              *ngIf="stateControl.value"
              matSuffix
              mat-icon-button
              (click)="clearState()"
            >
              <ng-icon name="tablerX" class="icon-24 d-flex justify-content-center align-items-center"></ng-icon>
            </button>
          </mat-form-field>
        </div>

        <!-- Filter Icon (Toggles State Search) -->
        <button
          mat-icon-button
          (click)="toggleStateSearch()"
          matTooltip="Filter"
          aria-label="Toggle state filter"
        >
          <ng-icon
            name="tablerFilterPlus"
            class="icon-26 d-flex justify-content-center align-items-center settings-icon"
            [class.active]="showStateSearch"
          ></ng-icon>
        </button>
      </div>

      <!-- <div class="col-sm-4 d-flex justify-content-end align-items-center">
        <button mat-flat-button color="primary">Add Filler</button>
      </div> -->
    </div>
  </mat-card-content>
</mat-card>

<!-- Table of SUCCESS companies -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100 f-w-500 no-wrap">
        <!-- Company Column -->
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Company
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <p
                  class="f-w-600  f-s-16 m-t-0 d-flex align-items-center"
                >
                  <span
                    *ngIf="element.isExpeditedServiceSelected"
                    class="expedited-badge"
                    style="margin-right: 5px"
                    matTooltip="Priority Processing "
                  >
                    <i class="fa-solid fa-star fa-beat-fade fa-lg" style="color: #bf0a30;"></i>
                  </span>
                  {{ element.company }}
                </p>
              </div>
            </div>
          </td>
        </ng-container>
        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            State
          </th>
          <td mat-cell *matCellDef="let element">{{ element.state }}</td>
        </ng-container>
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Date</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.date | date }}
          </td>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Status
          </th>
          <td mat-cell *matCellDef="let element">
          <span
          class="mat-body-2 f-w-500 p-x-8 p-y-4 rounded-pill f-s-12"
          [ngStyle]="{
            'background-color':
               element.status === 'success'
        ? '#047857'  
                : 'transparent',
            color:
             element.status === 'success'
        ? '#ffffff'
                : 'inherit'
          }"
        >
              {{ element.status }}
            </span>
          </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-s-16 f-w-600 text-center"
          >
            Action
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="action-cell d-flex justify-content-center gap-2"
          >
            <!-- Upload icon -->
            <button
              mat-icon-button
              (click)="openUploadDialog(element.id)"
              matTooltip="Upload documents"
            >
            <i class="fa-solid fa-file-arrow-up"></i>
            </button>

            <!-- View icon -->
            <button
              mat-icon-button
              (click)="openDocumentViewer(element.id)"
              matTooltip="View documents"
            >
              <i class="fa-sharp-duotone fa-solid fa-eye"></i>
            </button>
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td
            class="mat-cell p-24 text-center"
            [attr.colspan]="displayedColumns.length"
          >
            <div class="empty-state-card">
                <div class="empty-icon">
                <mat-icon>search_off</mat-icon>
              </div>

                <h3 class="empty-title">
                <ng-container *ngIf="searchValue || stateControl.value; else noDataTitle">
                  No Documents found
                </ng-container>
                <ng-template #noDataTitle>
                  No Documents to show yet
                </ng-template>
              </h3>

              <h3 class="empty-text">
                <ng-container
                  *ngIf="searchValue || stateControl.value; else noRecords"
                >
                  Try adjusting your search or clearing the filters to see more companies.
                </ng-container>
                <ng-template #noRecords>
                   Once Companies are created, they’ll appear here.
                </ng-template>
              </h3>
              <button
                *ngIf="searchValue || stateControl.value"
                mat-stroked-button
                color="primary"
                class="m-t-12"
                (click)="clearFilters()"
              >
                Clear Filters &amp; show all
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
