<h2 mat-dialog-title class="d-flex align-items-center" style="margin-top: 10px; color: #002868; font-size: 20px;
  font-weight: 600;">
  <ng-icon name="tablerAlertCircle" class="icon-24 m-r-8 text-warning"></ng-icon>
  <span>Complete Your Profile</span>
</h2>
<mat-dialog-content>
  <p>
    Unlock exclusive features and streamline your LLC formation by completing your profile.
  </p>
  <p>
    A complete profile helps us tailor our services to your business needs for a faster, smoother experience.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button class="button-all" (click)="navigateToProfile()">
    Update Profile
  </button>
</mat-dialog-actions>
